@charset "utf-8";
.dall{
    width: 600px;
    margin:auto;
    background-color: #abcedf;
}
#logo{
    width: 100%;
    height:80px;
    font-family:"楷体";
    font-size: 40px;
    text-align: center;
    color:#fff;
    line-height: 80px;
    background color:#fff;
}
#navigation{
    width: 100%;
    height: 50px;
    font-size:26px;
    text-align: center;
    color: #fff;
}
#left{
    width: 200px;
    height: 314px;
    float:left;
}
#right{
    width: 390px;
    height: 314px;
    float:left;
}
#footer{
    width: 100%;
    height:40px;
    font-size:16px;
    color:#fff;
    clear:both;
    text align: center;
}